ul {
  box-shadow: -7px 10px 10px #02101f;
  border-radius: 10px;
  background-image: linear-gradient(45deg, #1b3a50, #122d40 25% 75%, #1b3a50);
  max-height: 80vh;
  overflow: auto;
  scrollbar-color: #2d4b65 RGBA(0,0,0,0);
  scrollbar-width: thin;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 1s;
  border-width: 0;
  border-bottom-width: 1px;
  border-style: solid;
  border-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0),
      rgb(99, 151, 185),
      rgba(0, 0, 0, 0)
    )
    1%;
  padding: 10px 30px;
  font-weight: bold;
}

li:hover {
  background-color: rgb(255, 255, 255, 0.05);
}

.text-area {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}

span:first-child {
  font-size: 1.3em;
}

button.delete {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: box-shadow 0.5s, color 0.5s, border 0.5s;
  margin: 0;
  border: 3px solid currentColor;
  border-radius: 5px;
  background: RGBA(0, 0, 0, 0);
  padding: 0;
  width: 50px;
  min-width: 50px;
  height: 30px;
  color: currentColor;
  font-size: 1.5em;
}

button.delete:hover {
  box-shadow: 0 0 10px #a0def3;
  border: 3px solid #a0def3;
  color: #a0def3;
}

button.delete:focus {
  outline: none;
}
