ul {
  box-shadow: -7px 10px 10px #02101f;
  border-radius: 10px;
  background: #122d40;
  background-image: linear-gradient(45deg, #1b3a50, #122d40 25% 75%, #1b3a50);
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-width: 0;
  border-bottom-width: 1px;
  border-style: solid;
  border-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0),
      rgb(99, 151, 185),
      rgba(0, 0, 0, 0)
    )
    1%;
  padding: 10px 30px;
  font-weight: bold;
}

input[type="checkbox"] {
  appearance: none;
  margin: 0 15px 0 0;
  border: 3px solid currentColor;
  border-radius: 5px;
  width: 40px;
  height: 30px;
  color: currentColor;
}

input[type="checkbox"]::before {
  transform: scale(0);
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: CanvasText;
  width: 0.65em;
  height: 0.65em;
  content: "";
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.text-area {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

span:first-child {
  font-size: 1.3em;
}
